Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.6.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.0
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/asottile/pyupgrade
  rev: v3.16.0
  hooks:
    - id: pyupgrade
      args: ["--py38-plus"]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.4.2
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.4.26'
        - 'flake8-comprehensions==3.14.0'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/sirosen/slyp
  rev: 0.6.1
  hooks:
    - id: slyp
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Convert to ConnectorTable for resolution (#1014)
  changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
  src/globus_cli/services/gcs.py
  tests/unit/formatters/test_connector_formatter.py
Due: reject-paginator-table-usage

Added --delete flag to timer create transfer (#1017)
  changelog.d/20240801_163618_derek_timer_transfer_delete.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Bump version and changelog for release (#1018)
  changelog.adoc
  changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
  changelog.d/20240801_163618_derek_timer_transfer_delete.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix search index delete to use index_id_arg (#1021)
  changelog.d/20240815_115113_sirosen_fix_index_id_arg.md
  src/globus_cli/commands/search/index/delete.py
  tests/functional/search/test_index.py
Due: reject-paginator-table-usage

Stop deleting the templated client on logout (#1022)
  changelog.d/20240808_154611_ada_sc_35143.md
  src/globus_cli/commands/logout.py
  tests/files/api_fixtures/logout.yaml
  tests/functional/test_login_command.py
  tests/functional/test_logout_command.py
Due: reject-paginator-table-usage

Bump version and changelog for release (#1023)
  changelog.adoc
  changelog.d/20240808_154611_ada_sc_35143.md
  changelog.d/20240815_115113_sirosen_fix_index_id_arg.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Remove more activation support code (#1024)
  changelog.d/20240828_101834_sirosen_activation2stub.md
  src/globus_cli/commands/endpoint/activate.py
  src/globus_cli/commands/endpoint/deactivate.py
  src/globus_cli/commands/endpoint/is_activated.py
  src/globus_cli/commands/endpoint/show.py
  src/globus_cli/commands/list_commands.py
  src/globus_cli/parsing/shared_options/__init__.py
  src/globus_cli/services/transfer/__init__.py
  src/globus_cli/services/transfer/activation.py
  tests/files/api_fixtures/transfer_activate_success.yaml
  tests/functional/endpoint/test_endpoint_activate.py
  tests/functional/endpoint/test_endpoint_create.py
  tests/functional/endpoint/test_is_activated.py
  tests/functional/exception_handling/test_session_hooks.py
  tests/functional/task/test_task_submit.py
  tests/functional/test_basics.py
  tests/functional/test_ls.py
  tests/functional/test_mkdir.py
  tests/functional/test_rename.py
  tests/functional/test_rm.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Fix use of 'TimerScopes' (#1027)
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/scopes.py
  tests/conftest.py
Due: reject-paginator-table-usage

Fix an AsciiDoc rendering warning
  src/globus_cli/commands/endpoint/set_subscription_id.py
Due: reject-paginator-table-usage

Add Mike to the CODEOWNERS file
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: none

Fix a whitespace issue in the `globus collection update` help text
  changelog.d/20240917_160258_kurtmckee_fix_collection_update_help_text.md
  src/globus_cli/commands/collection/update.py
Due: reject-paginator-table-usage

Remove the redundant tox `skip_missing_interpreters` setting
  tox.ini
Due: none

Update SDK Scope and Consent usages
  src/globus_cli/commands/session/consent.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/login_manager/auth_flows.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/scopes.py
Due: reject-paginator-table-usage

Update SDK GARE usages to be forwards-compatible
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/flows/run/resume.py
  src/globus_cli/commands/timer/resume.py
Due: reject-paginator-table-usage

Add Max to CODEOWNERS; update pre-commit hooks
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: none

globus group update --terms-and-conditions (#1038)
  changelog.d/20241015_133817_derek_groups_update_terms_and_conditions.md
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/group/update.py
  tests/files/api_fixtures/groups.yaml
  tests/functional/groups/test_group_update.py
Due: reject-paginator-table-usage

Bump version and changelog for release (#1039)
  changelog.adoc
  changelog.d/20240828_101834_sirosen_activation2stub.md
  changelog.d/20240917_160258_kurtmckee_fix_collection_update_help_text.md
  changelog.d/20241015_133817_derek_groups_update_terms_and_conditions.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Replace --delete with --delete-destination-extra in transfer commands (#1037)
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/test_basics.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Minor copyedits for consistent error and changelog styling (#1041)
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/task/test_task_submit.py
  tests/functional/test_basics.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Add step to send notice by email to release doc (#1040)
  RELEASING.adoc
Due: none

Fix transfer usage error for invalid use of --no-recursive flag (#1042)
  changelog.d/20241017_122919_max.tuecke_sc_35029_transfer_usage_error.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/test_basics.py
Due: reject-paginator-table-usage

Fix minor TODOs (#1044)
  src/globus_cli/exception_handling/hooks.py
  tests/conftest.py
Due: reject-paginator-table-usage

Configure mypy to use a sqlite cache
  pyproject.toml
Due: none

Rename the test workflow to better reflect its purpose
  .github/workflows/test.yaml
Due: none

Migrate to a reusable workflow
  .github/workflows/test.yaml
  pyproject.toml
  tox.ini
Due: none

add size and checksum fields to task show --successful-transfers (#1052)
  changelog.d/20241108_100250_derek_sc_27244_checksum_and_size_successful_transfer_fields.md
  src/globus_cli/commands/task/show.py
Due: reject-paginator-table-usage

Remove legacy Automate Transfer AP scope from timers scope dependencies (#1050)
  changelog.d/20241105_161119_max.tuecke_sc_35400_timers_scope_update.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/login_manager/scopes.py
  tests/functional/timer/test_transfer_create.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
  changelog.d/20241017_122919_max.tuecke_sc_35029_transfer_usage_error.md
  changelog.d/20241105_161119_max.tuecke_sc_35400_timers_scope_update.md
  changelog.d/20241108_100250_derek_sc_27244_checksum_and_size_successful_transfer_fields.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Improve user-facing changelog text
  changelog.adoc
Due: fix-changelog

Refactor to scope the lifecycle of SQLite storage
  src/globus_cli/commands/cli_profile_list.py
  src/globus_cli/commands/collection/_common.py
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/create/mapped.py
  src/globus_cli/commands/flows/run/resume.py
  src/globus_cli/commands/logout.py
  src/globus_cli/commands/session/show.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/timer/resume.py
  src/globus_cli/login_manager/__init__.py
  src/globus_cli/login_manager/auth_flows.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/tokenstore.py
  src/globus_cli/login_manager/utils.py
  tests/conftest.py
  tests/functional/test_login_command.py
  tests/functional/test_logout_command.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Populate scope_contract_versions in test config
  tests/conftest.py
Due: reject-paginator-table-usage

Fix the test click.Context usage
  tests/conftest.py
Due: reject-paginator-table-usage

Fix test usages of exchange_code_and_store
  tests/functional/test_login_command.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Fix mocking of CLITokenStorage features
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Fix mocking of internal auth client
  tests/functional/test_login_command.py
Due: reject-paginator-table-usage

Update to call LoginManager.close() on exit
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/tokenstore.py
  tests/conftest.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Updated contributing doc (#1051)
  CONTRIBUTING.adoc
  Makefile
  changelog.d/20241107_174803_derek_improve_contributing_doc.md
Due: none

Refactor CLIStorage per review
  src/globus_cli/commands/cli_profile_list.py
  src/globus_cli/commands/logout.py
  src/globus_cli/commands/session/show.py
  src/globus_cli/login_manager/__init__.py
  src/globus_cli/login_manager/auth_flows.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/storage.py
  tests/conftest.py
  tests/functional/test_login_command.py
  tests/functional/test_logout_command.py
  tests/unit/test_login_manager.py
  tests/unit/test_tokenstore.py
Due: reject-paginator-table-usage

Clear cached client in `delete_templated_client`
  src/globus_cli/login_manager/storage.py
  tests/unit/test_tokenstore.py
Due: reject-paginator-table-usage

Begin testing on Python 3.13
  .github/workflows/test.yaml
  changelog.d/20250106_150212_sirosen_support_313.md
  pyproject.toml
  tests/functional/test_cli_profile_list.py
  tox.ini
Due: reject-paginator-table-usage
