Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.6.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.0
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/asottile/pyupgrade
  rev: v3.16.0
  hooks:
    - id: pyupgrade
      args: ["--py38-plus"]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.4.2
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.4.26'
        - 'flake8-comprehensions==3.14.0'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/sirosen/slyp
  rev: 0.6.1
  hooks:
    - id: slyp
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Implement flow start notification policy parsing (#1102)
  changelog.d/20250417_235715_sirosen_add_flow_run_notify_policy.md
  src/globus_cli/commands/flows/start.py
  tests/functional/flows/test_start_flow.py
  tests/unit/param_types/test_run_flow_activity_notification_type.py
Due: reject-paginator-table-usage

Add support for flow run roles to flow commands (#1098)
  changelog.d/20250411_105010_8730430+m1yag1.md
  src/globus_cli/commands/flows/create.py
  src/globus_cli/commands/flows/show.py
  src/globus_cli/commands/flows/update.py
  tests/functional/flows/test_create_flow.py
  tests/functional/flows/test_show_flow.py
  tests/functional/flows/test_update_flow.py
Due: reject-paginator-table-usage

Ignore the SDK 'filter_role' warning in tests (#1108)
  pyproject.toml
Due: none

Update hook source to pypa/dependency-groups (#1110)
  .pre-commit-config.yaml
Due: none

Add support for `filter_roles` option when listing flows and runs (#1106)
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
  pyproject.toml
  src/globus_cli/commands/flows/list.py
  src/globus_cli/commands/flows/run/list.py
  tests/files/api_fixtures/flows_list.yaml
  tests/functional/flows/test_list_flows.py
  tests/functional/flows/test_list_runs.py
Due: reject-paginator-table-usage

Add a click compatibility module
  src/globus_cli/_click_compat.py
Due: reject-paginator-table-usage

Remove a duplicate --force-encryption option
  src/globus_cli/commands/collection/update.py
Due: reject-paginator-table-usage

Only use `mix_stderr` for compatibility
  tests/conftest.py
Due: reject-paginator-table-usage

Reflection uses 'Group', not 'MultiCommand'
  src/globus_cli/reflect.py
Due: reject-paginator-table-usage

Make no-args-is-help customization compatible
  src/globus_cli/parsing/commands.py
Due: reject-paginator-table-usage

Make ParamType.get_metavar compatible
  src/globus_cli/_click_compat.py
  src/globus_cli/commands/api.py
  src/globus_cli/commands/flows/start.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/commands/login.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
  src/globus_cli/parsing/param_types/identity_type.py
  src/globus_cli/parsing/param_types/json_strorfile.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/param_types/nullable.py
Due: reject-paginator-table-usage

Remove a use of click.MultiCommand
  src/globus_cli/commands/list_commands.py
Due: reject-paginator-table-usage

Update license to SPDX license expression in pyproject.toml (#1111)
  pyproject.toml
Due: none

Update Choice subtypes to handle click compat
  src/globus_cli/_click_compat.py
  src/globus_cli/commands/collection/list.py
  src/globus_cli/parsing/param_types/delimited.py
Due: reject-paginator-table-usage

Update tests to use CliRunner result.stdout
  tests/functional/endpoint/test_endpoint_create.py
Due: reject-paginator-table-usage

Fix a bug in _click_compat: ctx=None
  src/globus_cli/_click_compat.py
Due: reject-paginator-table-usage

Fix a malformed test of the epipe handler
  tests/unit/test_command_decorators.py
Due: reject-paginator-table-usage

Fix an annotation for `make_parser()`
  src/globus_cli/parsing/commands.py
Due: reject-paginator-table-usage

add support for activity-notifications for GCP and GCS
  changelog.d/20250421_132124_pjhinton_sc_40253_guest_activity_notification_support.md
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/update.py
  src/globus_cli/commands/gcp/create/guest.py
  src/globus_cli/commands/gcp/update/guest.py
  src/globus_cli/parsing/param_types/__init__.py
  src/globus_cli/parsing/param_types/guest_activity_notify_param.py
  src/globus_cli/parsing/shared_options/__init__.py
  tests/unit/param_types/test_guest_activity_notification_param.py
Due: reject-paginator-table-usage

Migrate coverage config into `pyproject.toml`
  .coveragerc
  pyproject.toml
Due: none

Start using xdist in pytest opts
  pyproject.toml
  tests/functional/gcs/endpoint/test_set_subscription_id.py
Due: reject-paginator-table-usage

Disable pytest-xdist when 'tox p' is used
  pyproject.toml
  toxfile.py
Due: reject-paginator-table-usage

Adjust toxfile.py and --maxprocesses for coverage
  pyproject.toml
  tox.ini
  toxfile.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250411_105010_8730430+m1yag1.md
  changelog.d/20250417_235715_sirosen_add_flow_run_notify_policy.md
  changelog.d/20250421_132124_pjhinton_sc_40253_guest_activity_notification_support.md
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix test suite compatibility with click 8.2.1
  src/globus_cli/utils.py
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Remove README badges
  README.rst
Due: none

Remove now-unnecessary type annotations
  src/globus_cli/commands/flows/list.py
  src/globus_cli/commands/flows/run/list.py
Due: reject-paginator-table-usage

Fix `filter_roles` for `globus flows list` (#1117)
  changelog.d/20250529_094218_sirosen_quick_fix_flows_list.md
  src/globus_cli/commands/flows/list.py
  tests/functional/flows/test_list_flows.py
Due: reject-paginator-table-usage

Use `pip install --group` in Makefile (#1118)
  Makefile
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250529_094218_sirosen_quick_fix_flows_list.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update changelog.adoc
  changelog.adoc
Due: fix-changelog

Update the lower-bound for build-system.requires
  pyproject.toml
Due: none

Reorder (consent_required_hook, session_hook)
  changelog.d/20250605_094658_sirosen_hook_order_fix.md
  src/globus_cli/exception_handling/hooks/__init__.py
  tests/functional/exception_handling/test_session_hooks.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250605_094658_sirosen_hook_order_fix.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Address a CI caching issue
  .github/workflows/test.yaml
Due: none

add GCP subscription admin verification
  changelog.d/20250620_184301_pjhinton_sc_38573_subscription_admin_verified_support.md
  src/globus_cli/commands/gcp/__init__.py
  src/globus_cli/commands/gcp/set_subscription_admin_verified.py
  tests/files/api_fixtures/gcp_set_subscription_admin_verified.yaml
  tests/functional/gcp/test_gcp_set_subscription_admin_verified.py
Due: reject-paginator-table-usage

improve documentation and testing
  changelog.d/20250620_184301_pjhinton_sc_38573_subscription_admin_verified_support.md
  src/globus_cli/commands/gcp/set_subscription_admin_verified.py
  tests/files/api_fixtures/gcp_set_subscription_admin_verified.yaml
  tests/functional/gcp/test_gcp_set_subscription_admin_verified.py
Due: reject-paginator-table-usage

implement subscription verification for gcp update
  src/globus_cli/commands/gcp/update/guest.py
  src/globus_cli/commands/gcp/update/mapped.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/shared_options/__init__.py
  tests/functional/gcp/test_gcp_update.py
Due: reject-paginator-table-usage

replace all UUIDs and usernames with more conspicuous fakes
  tests/files/api_fixtures/gcp_set_subscription_admin_verified.yaml
Due: none
