Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.6.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.0
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/asottile/pyupgrade
  rev: v3.16.0
  hooks:
    - id: pyupgrade
      args: ["--py38-plus"]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.4.2
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.4.26'
        - 'flake8-comprehensions==3.14.0'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/sirosen/slyp
  rev: 0.6.1
  hooks:
    - id: slyp
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Correcting display
  src/globus_cli/commands/collection/role/delete.py
Due: reject-paginator-table-usage

Adding in `collection role list` and correcting `delete.py` remnant from copying over `show.py`
  src/globus_cli/commands/collection/role/__init__.py
  src/globus_cli/commands/collection/role/delete.py
  src/globus_cli/commands/collection/role/list.py
Due: reject-paginator-table-usage

Adding in `all-roles` option for `collection role list`
  src/globus_cli/commands/collection/role/list.py
Due: reject-paginator-table-usage

Adding in `globus collection role delete` command
  src/globus_cli/commands/collection/role/__init__.py
  src/globus_cli/commands/collection/role/delete.py
  tests/functional/collection/role/test_role_delete.py
Due: reject-paginator-table-usage

Adding in `collection role list`
  src/globus_cli/commands/collection/role/__init__.py
  src/globus_cli/commands/collection/role/list.py
  tests/functional/collection/role/test_role_list.py
Due: reject-paginator-table-usage

Testing role list test
  tests/functional/collection/role/test_role_list.py
Due: reject-paginator-table-usage

Add changelog entry
  changelog.d/20250826_20ff704_kube_SC_38759_globus_collection_role_list.md
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250620_184301_pjhinton_sc_38573_subscription_admin_verified_support.md
  changelog.d/20250729_104151_sirosen_show_collection_role.md
  changelog.d/20250729_234516_sirosen_stub_removals.md
  changelog.d/20250804_155742_sirosen_remove_py38.md
  changelog.d/20250826_20ff704_kube_SC_38759_globus_collection_role_list.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Adding changelog file
  changelog.d/20250904_ee85f17_kube_SC_38763_globus_collection_role_delete.md
Due: none

Rm'ing unused uuid import
  tests/files/api_fixtures/collection_operations.yaml
  tests/functional/collection/role/test_role_delete.py
Due: reject-paginator-table-usage

Updating changelog file
  changelog.d/20250904_94239c8_kube_SC_38763_globus_collection_role_delete.md
Due: none

Update globus-sdk version to 3.63.0 (#1169)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Refactor the `--format=UNIX` printer for type checking and test coverage (#1170)
  pyproject.toml
  src/globus_cli/termio/printers/unix_printer/_formatter.py
  src/globus_cli/termio/printers/unix_printer/awscli_text.py
  src/globus_cli/termio/printers/unix_printer/unix_printer.py
  tests/unit/termio/printer/conftest.py
  tests/unit/termio/printer/test_json_printer.py
  tests/unit/termio/printer/test_unix_printer.py
Due: reject-paginator-table-usage

Introduce an 'ActivityFormatter' for Timers
  changelog.d/20250916_155003_sirosen_support_timer_activity_field.md
  src/globus_cli/commands/timer/_common.py
  tests/functional/timer/test_job_operations.py
  tests/unit/formatters/test_timer_formatters.py
Due: reject-paginator-table-usage

Do not pass 'skip_activation_check' to Transfer API (#1173)
  src/globus_cli/commands/delete.py
  src/globus_cli/commands/rm.py
  src/globus_cli/commands/transfer.py
Due: reject-paginator-table-usage

Restrict to `click<8.3` (#1174)
  changelog.d/20250918_130817_sirosen_click_feature_bound.md
  pyproject.toml
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250904_94239c8_kube_SC_38763_globus_collection_role_delete.md
  changelog.d/20250918_130817_sirosen_click_feature_bound.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update to support click>=8.3,<8.4
  pyproject.toml
Due: none

Support filter rules in `timer create transfer`
  changelog.d/20250918_163701_sirosen_transfer_timer_filter_rules.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/shared_options/transfer_task_options.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Add support for groups subscription-admin-verified-id (#1157)
  changelog.d/20250814_101753_charlie.md
  src/globus_cli/commands/group/__init__.py
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/group/set_subscription_admin_verified.py
  src/globus_cli/commands/group/update.py
  tests/files/api_fixtures/groups.yaml
  tests/functional/groups/test_group_set_subscription_admin_verified.py
  tests/functional/groups/test_group_update.py
Due: reject-paginator-table-usage

Refine the contributing doc + add a changelog doc (#1165)
  CONTRIBUTING.adoc
  changelog.d/README.adoc
Due: none

Remove the deprecated Flows service scope `run`
  changelog.d/20250923_115826_kurtmckee_address_deprecated_flow_scope.md
  src/globus_cli/login_manager/scopes.py
Due: reject-paginator-table-usage

Adding in `collection role create`
  src/globus_cli/commands/collection/role/__init__.py
  src/globus_cli/commands/collection/role/_common.py
  src/globus_cli/commands/collection/role/create.py
Due: reject-paginator-table-usage

Updated testing as well as formatting in create.py
  src/globus_cli/commands/collection/role/create.py
  tests/files/api_fixtures/collection_operations.yaml
  tests/functional/collection/role/test_role_create.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250814_101753_charlie.md
  changelog.d/20250918_163701_sirosen_transfer_timer_filter_rules.md
  changelog.d/20250923_115826_kurtmckee_address_deprecated_flow_scope.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Correcting test_role_delete.py and testin test_role_create.py change
  tests/functional/collection/role/test_role_create.py
  tests/functional/collection/role/test_role_delete.py
Due: reject-paginator-table-usage

Switched to returning the role ID only
  src/globus_cli/commands/collection/role/_common.py
  src/globus_cli/commands/collection/role/create.py
  tests/files/api_fixtures/collection_operations.yaml
  tests/functional/collection/role/test_role_create.py
  tests/functional/collection/role/test_role_list.py
Due: reject-paginator-table-usage

Adding Changelog entry
  changelog.d/20250927_194304_james_SC_38762_Collection_Role_Create.md
Due: none

Removing unused variable 'identity_username'
  tests/files/api_fixtures/collection_operations.yaml
Due: none

Stop testing against SDK's `main` branch in CI
  .github/workflows/test.yaml
Due: none

Correcting type hints
  src/globus_cli/commands/collection/role/create.py
Due: reject-paginator-table-usage

Added flow timer creation (#1185)
  changelog.d/20251001_095617_derek_sc_38839_globus_timer_create_flow.md
  src/globus_cli/commands/flows/start.py
  src/globus_cli/commands/login.py
  src/globus_cli/commands/timer/create/__init__.py
  src/globus_cli/commands/timer/create/_common.py
  src/globus_cli/commands/timer/create/flow.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/shared_options/flow_options.py
  tests/functional/timer/test_create_flow_timer.py
  tests/functional/timer/test_transfer_create.py
  tests/unit/test_click_annotations.py
  tests/unit/test_timezone_handling.py
Due: reject-paginator-table-usage

Fix a boolen evaluation in timer-flow login (#1190)
  src/globus_cli/commands/login.py
Due: reject-paginator-table-usage

Move off of last use of 'globus_sdk.experimental' (#1191)
  src/globus_cli/utils.py
Due: reject-paginator-table-usage

Release v3.39.0 (#1194)
  changelog.adoc
  changelog.d/20250916_155003_sirosen_support_timer_activity_field.md
  changelog.d/20251001_095617_derek_sc_38839_globus_timer_create_flow.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Adding in missing import of annotations
  src/globus_cli/commands/collection/role/create.py
Due: reject-paginator-table-usage

Add a test to validate omittables are omittable (#1195)
  tests/unit/test_click_annotations.py
Due: reject-paginator-table-usage

Unify flows command field rendering (#1196)
  changelog.d/20251017_171954_derek_unify_flows_command_field_rendering_sc_45516.md
  src/globus_cli/commands/endpoint/permission/list.py
  src/globus_cli/commands/endpoint/role/list.py
  src/globus_cli/commands/flows/_fields.py
  src/globus_cli/commands/flows/create.py
  src/globus_cli/commands/flows/delete.py
  src/globus_cli/commands/flows/run/cancel.py
  src/globus_cli/commands/flows/run/delete.py
  src/globus_cli/commands/flows/run/resume.py
  src/globus_cli/commands/flows/run/show.py
  src/globus_cli/commands/flows/run/update.py
  src/globus_cli/commands/flows/show.py
  src/globus_cli/commands/flows/start.py
  src/globus_cli/commands/flows/update.py
  src/globus_cli/commands/search/_common.py
  src/globus_cli/termio/formatters/auth.py
  tests/functional/flows/conftest.py
  tests/functional/flows/test_cancel_run.py
  tests/functional/flows/test_create_flow.py
  tests/functional/flows/test_delete_run.py
  tests/functional/flows/test_resume_run.py
  tests/functional/flows/test_show_flow.py
  tests/functional/flows/test_start_flow.py
  tests/functional/flows/test_update_flow.py
Due: reject-paginator-table-usage
