Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

fix-changelog:
  name: Fix changelog
  entry: ./changelog.d/post-fix-changelog.py
  language: python

reject-paginator-table-usage:
  name: Require use of 'Paginator.wrap()' not 'client.paginated.foo'
  language: pygrep
  entry: (\.paginated\.)|(^\s+\.paginated$)

Update `get_type_annotation` usages for mypy
  src/globus_cli/commands/api.py
  src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/commands/login.py
  src/globus_cli/parsing/param_classes.py
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
Due: reject-paginator-table-usage

Refactor tox mypy config to run on min and max
  .github/workflows/test.yaml
  pyproject.toml
  tox.ini
Due: none

Tox bugfix: missing 3.13 in depends
  tox.ini
Due: none

Update to click-type-test==1.1.0
  pyproject.toml
Due: none

Avoid `mypy-py38` as a tox env name
  .github/workflows/test.yaml
  tox.ini
Due: none

Refine usage of click.Context.resilient_parsing
  src/globus_cli/commands/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

add support for entity type filtering on endpoint search
  changelog.d/20241203_224257_pjhinton_sc_29242_endpoint_search_filter_entity_type.md
  src/globus_cli/commands/endpoint/search.py
Due: reject-paginator-table-usage

Add an initial test for 'endpoint search'
  tests/functional/endpoint/test_endpoint_search.py
Due: reject-paginator-table-usage

Add a test for --filter-entity-type
  tests/functional/endpoint/test_endpoint_search.py
Due: reject-paginator-table-usage

Improve endpoint search tests per review
  tests/functional/endpoint/test_endpoint_search.py
Due: reject-paginator-table-usage

Move test dependencies to a dependency group
  Makefile
  pyproject.toml
  scripts/update_dependencies.py
  tox.ini
Due: reject-paginator-table-usage

Add `globus_cli_rmtree` via toxfile plugin
  tox.ini
  toxfile.py
Due: reject-paginator-table-usage

Remove the `publish-release` tox env
  tox.ini
Due: none

Improve declaration of coverage tox envs
  pyproject.toml
  tox.ini
Due: none

Improve the implementation of tox `-localsdk`
  tox.ini
Due: none

Move 'test-mindeps' to a dependency group
  pyproject.toml
  tox.ini
Due: none

Update dependency group + local dev usages (#1075)
  .pre-commit-config.yaml
  CONTRIBUTING.adoc
  Makefile
  pyproject.toml
Due: none

add access permission expiration support (#1063)
  changelog.d/20241220_115422_aaschaer_permission_expiration.md
  src/globus_cli/commands/endpoint/permission/_common.py
  src/globus_cli/commands/endpoint/permission/create.py
  src/globus_cli/commands/endpoint/permission/show.py
  src/globus_cli/commands/endpoint/permission/update.py
  src/globus_cli/termio/formatters/auth.py
  tests/files/api_fixtures/endpoint_acl_operations.yaml
  tests/functional/test_permission_commands.py
Due: reject-paginator-table-usage

Refactored termio display functions into Printers (#1076)
  pyproject.toml
  src/globus_cli/commands/flows/validate.py
  src/globus_cli/termio/__init__.py
  src/globus_cli/termio/_display.py
  src/globus_cli/termio/field.py
  src/globus_cli/termio/printer.py
  src/globus_cli/termio/printers/__init__.py
  src/globus_cli/termio/printers/base.py
  src/globus_cli/termio/printers/custom_printer.py
  src/globus_cli/termio/printers/json_printer.py
  src/globus_cli/termio/printers/record_printer.py
  src/globus_cli/termio/printers/table_printer.py
  src/globus_cli/termio/printers/unix_printer/__init__.py
  src/globus_cli/termio/printers/unix_printer/awscli_text.py
  src/globus_cli/termio/printers/unix_printer/unix_printer.py
  tests/unit/formatters/test_primitive_formatters.py
  tests/unit/termio/printer/test_custom_printer.py
  tests/unit/termio/printer/test_json_printer.py
  tests/unit/termio/printer/test_record_list_printer.py
  tests/unit/termio/printer/test_record_printer.py
  tests/unit/termio/printer/test_table_printer.py
  tests/unit/termio/test_termio.py
Due: reject-paginator-table-usage

Improve the helptext for 'collection delete' (#1080)
  src/globus_cli/commands/collection/delete.py
Due: reject-paginator-table-usage

Support GAREs in Flows API error responses (#1081)
  changelog.d/20250228_131034_ada_add_handling_for_synchronous_gares_from_flows.md
  src/globus_cli/exception_handling/hooks.py
Due: reject-paginator-table-usage

Improve error messaging on bad client creds (#1085)
  changelog.d/20250304_161801_sirosen_bold_new_errors.md
  src/globus_cli/exception_handling/hooks.py
  tests/functional/test_authentication_error_handling.py
Due: reject-paginator-table-usage

Separate exception hooks from message helpers
  src/globus_cli/exception_handling/hooks.py
  src/globus_cli/exception_handling/messages.py
Due: reject-paginator-table-usage

Refactor to make error handler ordering explicit
  src/globus_cli/exception_handling/hooks.py
  src/globus_cli/exception_handling/hooks/__init__.py
  src/globus_cli/exception_handling/hooks/auth_requirements.py
  src/globus_cli/exception_handling/hooks/authapi_hooks.py
  src/globus_cli/exception_handling/hooks/endpoint_types.py
  src/globus_cli/exception_handling/hooks/flows_hooks.py
  src/globus_cli/exception_handling/hooks/generic_hooks.py
  src/globus_cli/exception_handling/hooks/search_hooks.py
  src/globus_cli/exception_handling/hooks/transfer_hooks.py
  src/globus_cli/exception_handling/messages.py
  src/globus_cli/exception_handling/registry.py
Due: reject-paginator-table-usage

Update dependencies (#1087)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Bump version and changelog for release (#1088)
  changelog.adoc
  changelog.d/20241107_174803_derek_improve_contributing_doc.md
  changelog.d/20241203_224257_pjhinton_sc_29242_endpoint_search_filter_entity_type.md
  changelog.d/20241220_115422_aaschaer_permission_expiration.md
  changelog.d/20250106_150212_sirosen_support_313.md
  changelog.d/20250228_131034_ada_add_handling_for_synchronous_gares_from_flows.md
  changelog.d/20250304_161801_sirosen_bold_new_errors.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix Flows API error handler for missing 'message'
  src/globus_cli/exception_handling/hooks/flows_hooks.py
  tests/functional/flows/test_update_run.py
Due: reject-paginator-table-usage

Apply suggestions from code review
  src/globus_cli/exception_handling/hooks/generic_hooks.py
  src/globus_cli/exception_handling/messages.py
Due: reject-paginator-table-usage

Update src/globus_cli/exception_handling/hooks/auth_requirements.py
  src/globus_cli/exception_handling/hooks/auth_requirements.py
Due: reject-paginator-table-usage

Handle empty table data in output printing, discovered and tested against 'flows list' (#1090)
  changelog.d/20250325_155212_sirosen_handle_empty_flow_list.md
  src/globus_cli/termio/printers/table_printer.py
  tests/functional/flows/test_list_flows.py
Due: reject-paginator-table-usage

Update SDK + use 'SearchClient.index_list()' (#1091)
  pyproject.toml
  src/globus_cli/commands/search/index/list.py
Due: reject-paginator-table-usage

Bump version and changelog for release (#1092)
  changelog.adoc
  changelog.d/20250325_155212_sirosen_handle_empty_flow_list.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Make the `globus api timer` command display "Globus Timers"
  src/globus_cli/commands/api.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/timer/delete.py
  src/globus_cli/commands/timer/list.py
  src/globus_cli/commands/timer/pause.py
  src/globus_cli/commands/timer/resume.py
  src/globus_cli/commands/timer/show.py
  src/globus_cli/login_manager/scopes.py
  src/globus_cli/types.py
Due: reject-paginator-table-usage

Make the rendered help text on `docs.globus.org` show code text
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Remove an now-unnecessary Python <3.8 pytest `skipif`
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Make `globus api timers` the canonical command (#1097)
  changelog.d/20250410_141842_sirosen_rename_timers_api_command.md
  src/globus_cli/commands/api.py
  tests/functional/test_api.py
Due: reject-paginator-table-usage

Fix ordering of task list date filters (#1100)
  changelog.d/20250416_141934_sirosen_fix_task_date_filters.md
  src/globus_cli/commands/task/list.py
  tests/functional/task/test_task_list.py
Due: reject-paginator-table-usage

Update globus-sdk to v3.55.0 (#1101)
  pyproject.toml
Due: none

Release v3.34.0 (#1103)
  changelog.adoc
  changelog.d/20250410_141842_sirosen_rename_timers_api_command.md
  changelog.d/20250416_141934_sirosen_fix_task_date_filters.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Path conditions:
  fix-changelog: any of: ^changelog\.adoc$
  reject-paginator-table-usage: any of: \.py$
